body {
  background-color: #000000; }

.landing {
  background-color: #000000;
  overflow-x: hidden !important;
  z-index: -5 !important; }

canvas {
  display: block !important;
  position: fixed !important;
  z-index: 1 !important;
  top: 0 !important; }

.characterContainer {
  z-index: 998 !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px; }

ul {
  list-style: none; }

.contentContainer {
  z-index: 998 !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px; }

.logo {
  height: 100%; }

.hidden {
  display: none; }

html {
  height: 100% !important; }

body {
  min-height: 100% !important;
  font-family: "Merriweather Sans", sans-serif; }

a {
  color: #ffeb34;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family: helvetica; }

a:hover {
  color: #1f1c0780;
  text-decoration: none; }

h1 {
  font-family: "Catamaran", sans-serif;
  font-size: 30px;
  color: #FFE807;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 46.4px; }

h2 {
  font-family: "Catamaran", sans-serif;
  font-size: 30px;
  color: #FFE807;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 46.4px; }

h3 {
  font-family: "Catamaran", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: #FFE807; }

h4 {
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  color: #FFE807;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 22px; }

p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 21px; }
